body {
	background: #f9e933;
	font-size: 100%;
}

header, main, footer {
	min-width: 855px;
}

header .container, main .container, footer .container {
	max-width: 855px;
	margin: auto;
}

p, a, ul {
	font-family: 'Ubuntu', sans-serif;
}

h2 {
	font-size: xx-large;
}

h3 {
	font-size: x-large;
}

h5 {
	font-family: 'Ubuntu', sans-serif;
	font-size: larger;
}

header {
	background: white;
	overflow: auto;
}

header h1 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 2em;
	float: left;
	width: 570px;
}

header h2 {
	font-family: 'Ubuntu', sans-serif;
}

header h3 {
	font-family: 'Ubuntu', sans-serif;
}

header h4 {
	font-family: 'Ubuntu', sans-serif;
}

header nav {
	float: right;
	width: 285px;
}

main .about {
	float: left;
	width: 570px;
}

footer .contact {
	float: left;
	width: 570px;
}

footer .sitemap{
	float: right;
	width: 285px;
}

main {
	background: white;
}